<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="djangoHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\Python34\python.exe|C:\inetpub\wwwroot\accountMonitor\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
