tr {
	height: 40px;
	text-align: center;
	valign: middle;
	padding-top: 10px;
}

tr.log{
	font-weight:bold;
	background-color: #F2F2F2
}

h1 {
	color: white;
	border-radius: 3px;
	background-color: #1E90FF
}

.link_btn {
	width: 370px;
	height: 40px;
	border-width: 0px;
	border-radius: 3px;
	background: #1E90FF;
	cursor: pointer;
	outline: none;
	font-family: Microsoft YaHei;
	color: white;
	font-size: 17px;
}

.link_btn:hover {
	background: #5599FF;
}

a:link {
	color: blue; text-decoration:none;
}
a:hover {
	color:red
}

.account_link{
    margin-left:50px;
}