<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/order.css">
    <title>后台系统导航</title>
</head>
<body>
    <h1 align="center">导航</h1>
    <div align="center">
        <button type="submit" onclick="window.open('http://172.16.252.123:8000/show/sale')" id="update_btn" name="update_btn" class="update_btn">Storenvy 后台</button>
    </div>
    </br>
    <div align="center">
        <button type="submit" onclick="window.open('http://172.16.252.123:8000/show/pin')" id="update_btn" name="update_btn" class="update_btn">Pinterest 后台</button>
    </div>
</body>
</html>